*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
fieldset{
    height: 300px;
    width: 500px;
    flex-direction: column;
    margin-top: 28%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue ;
}
input{
    width: 90%;
    height: 25px;
    padding: 3px;
    margin: 20px;
    border-radius: 10px;
    background-color: rgb(201, 219, 230);
}
div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -15px;
    margin-bottom: 10px;
}
button {
    text-decoration: none;
    position: relative;
    border: none;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    width: 150px;
    height: 40px;
    line-height: 20px;
    text-align: center;
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
    margin-left: 33%;
    margin-top: 20px;
}

button:hover {
    animation: buttom 8s linear infinite;
    border: none;
}

@keyframes buttom {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

button:before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, blue, white, red);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;

}

button:hover::before {
    filter: blur(20px);
}

button:active {
    background: linear-gradient(32deg, blue, white, red);
}
@media (max-width: 750px) {
    fieldset{
        height: 300px;
        width: 300px;
    }
    input{
        width: 80%;
        height: 25px;
    }
    button{
        margin-left: 75px;
    }

}

